.auth__form{
    padding: 40px;
    background-color: var(--primary-color);
    border-radius: 8px;
}
.auth__btn{
    background:#fff;
    color: var(--primary-color);
    font-weight: 600;
}
.auth__btn:hover{
    background:#fff;
    color: var(--primary-color);
    font-weight: 600;
}
.auth__form p a{
    color: #fff;
}
.auth__form p{
    margin-top: 30px;}

.auth__form input[type="file"]{
    color: #fff;
    cursor: pointer;
}
.form__group{
    color: #fff;
}